@import url(https://fonts.googleapis.com/css2?family=Sen&amp;display=swap);
body {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background: #f2adab;
    font-family: "Sen";
}
.box {
    position: fixed;
    left: calc(50vw - 50vmin);
    top: calc(50vh - 37.5vmin);
    width: 100vmin;
    height: 75vmin;
}
.svg {
    overflow: visible;
}
#snow {
    pointer-events: none;
}
.snow-clone {
    opacity: 0;
}
.content {
    width: 90%;
    position: absolute;
    bottom: 20px;
    text-align: center;
    left: 0;
    right: 0;
    margin: auto;
    color: rgb(0, 0, 0);
    z-index: 99;
    font-size: .8em;
}
.content p {
    margin: .5em auto;
}
.content kbd {
    width: 15px;
    height: 15px;
    border: 1px solid rgb(0, 0, 0);
    display: inline-block;
    border-radius: 3px;
    font-size: .9em;
    vertical-align: text-top;
}
.content a {
    color: rgba(0, 0, 0, 0.78);
    text-decoration: none;
    border-bottom: 1px solid currentColor;
}
.content a:hover {
    padding-bottom: 1px;
}